@model IEnumerable<Library.Models.BookWriter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <div class="col-md-6">
    <form class="d-flex" asp-action="Index" asp-controller="BookWriter" method="get">
        <input name="search" value="@ViewData["search"]" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search" />
<button class="btn bt</form>n-dark" type="submit">Search</button>
 </form> 
</div> *@
<div class="col-md-6">
    <a asp-action="Index" class="text-dark">Back To Full List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                
            <td>
                <a asp-action="Register" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
